.cardstyle{
    padding-left: 5vh ;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 5vh;
}

.bottom{
    padding-bottom: 3vh;
}

.mainCard{
    padding-left: 10vh ;
}

.mainCardnew{
    padding-left: 3vh ;
    padding-bottom: 3vh;
}

.cardsdata{
    padding-left: 5vh ;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.cardsbutton{
  
    float: right;
    padding-right: 3px;
    padding-bottom: 6px;

}

.fontc{
    color: '#FFFFFF';
    background-color: 'red';
}